$operation.getReference().prepare($args.get("property"))##
## ===== Output =====
${baseIndentation}${indentation}${indentation}Self.$operation.getReference().getAttributeName() := $operation.getReference().getParameterName();

