$operation.getReference().prepare($args.get("property"))##
## ===== Output =====
${baseIndentation}${indentation}${indentation}$operation.getReference().getRefObject().t_getAttributeNamePrefix()$operation.getReference().getAttributeName() = $operation.getReference().getParameterName()

