$operation.getReference().prepare($args.get("property"))##
## ===== Output =====
#set( $tmpPush = '.push(' )
${baseIndentation}${indentation}${indentation}@_$operation.getReference().getAttributeName()$tmpPush$operation.getReference().getParameterName())

