$operation.getReference().prepare($args.get("property"))##
## ===== Output =====
${baseIndentation}${indentation}${indentation}this.$operation.getReference().getAttributeName() = $operation.getReference().getParameterName();

